@charset "UTF-8";

/* ---- HEADER ---- */

#header
{
}

/* TITLE BAR */

.title-bar
{
	background-image: url(images/titlebar-background.png);
	background-repeat: repeat-x;
	margin-bottom: 20px;
	height: 38px;
}

.logo
{
	display: inline;
	height: 38px;
	font-size: 36px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}

.logo .logo1
{
	margin-right: -9px;
}

.logo .logo2
{
	color: #0033FF;
}

.logo .logo3
{
	font-size: 16px;
}

.title-bar .username
{
	display: inline;
	float: right;
	padding-top: 18px;
	padding-right: 10px;
}

/* ---- NAVIGATION ---- */

.navigation
{
}

.navigation a
{
}

/* ---- CONTENT ----- */

#content
{
}

/* ---- ACTIONS ---- */

.action-link-list
{
}

.action-link-list a
{
}

/* ---- PAGINATION ---- */

.pagination
{
	text-align: center;
}

.pagination a
{
}

.pagination .pagination-page
{
}

/* ---- TABLE ---- */

table
{
	border-collapse: collapse;
	border: 1px solid black;

}

table thead,
table tfoot
{
}

table tbody
{

}

table tr
{
	border: 1px solid black;
}

table thead tr,
table tfoot tr
{
}

table tbody tr
{
}

table td
{
	border: 1px solid black;
}

table th
{
	border: 1px solid black;
}

table .date-cell
{
	text-align: center;
}

/* ---- FOOTER ---- */

#footer
{
/* someone fill this */
	text-align: center;
	float: none;
	margin-top: 30px;
}

/* ---- EVENT TABLE ---- */

.event-list
{
}

.event-table
{
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
}

.event-table thead,
.event-table tfoot
{
}

.event-table tbody
{
}

.event-table tr
{
}

.event-table thead tr,
.event-table tfoot tr
{
}

.event-table tbody tr
{
}

.event-table td
{
}

.event-table th
{
}

.event-table .action-link-list
{
	text-align: center;
}

/* ---- EVENT FORM ---- */

.event-form
{
	display: table;
}

.event-form-input
{
	display: table-row;

}

.event-form-input label
{
	display: table-cell;
	vertical-align: top;
	padding-right: 20px;

}

.event-form-input label:after
{
	content: ":";

}

.event-form-input input,
.event-form-input textarea
{
	display: table-cell;

}

.event-form-end-button
{

}
