@charset "utf-8";

/*---------------------*/
/* guestbook main page */
/*---------------------*/

.guestbook-content
{
	display: table;
	width: 100%;
}

/* ---- unlocked contributions ---- */

#guestbook-unlocked
{
	display: table-column;
	width: 45%;
	margin: 10px 0 10px 20px;
	float: left;
	border-radius: 10px;
}

#guestbook-unlocked h2
{
	text-align: center;
	color: #FFFFFF;
}

.guestbook-unlocked-contribution
{
	display: table-row;
	width: 100%;
}

.guestbook-unlocked-contribution .action-link-list
{
	margin-bottom: 5px;
}

.guestbook-unlocked-contribution-header
{
	width: 100%;
	margin-top: 5px;
	text-align: center;
	background-color: #AAAAAA;
	color: #000000;
	font-weight: bold;
}

.guestbook-unlocked-contribution-body
{
	display: table;
	width: 100%;
	min-height: 50px;
	background-color: #FFFFFF;
	border-bottom: 1px solid black;
	font-weight: normal;
}

.guestbook-unlocked-contribution-body-actions
{
	display: table-cell;
	width: 7em;
	text-align: center;
	background-color: #AAAAAA;
}

.guestbook-unlocked-contribution-body-actions a
{
	color: blue;
}

.guestbook-unlocked-contribution-body-text
{
	display: table-cell;
	padding-left: 10px;
	background-color: #FFFFFF;
	border-top: 1px solid black;
	border-left: 1px solid black;
}

/* ---- locked contributions ---- */

#guestbook-locked
{
	display: table-column;
	width: 45%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-right: 20px;
	float: right;
	border-radius: 10px;
}

#guestbook-locked h2
{
	text-align: center;
	color: #FFFFFF;
}

#guestbook-locked table
{
	margin: 10px 0;
}

/*-------------------------*/
/* guestbook versions page */
/*-------------------------*/

.guestbook-versions-info
{
	display: table;
	margin: auto;
}

.guestbook-versions-info .info-item
{
	display: table-row;
}

.guestbook-versions-info .info-item div
{
	display: table-cell;
	padding-right: 20px;
	color: #FFFFFF;
}
