@charset "UTF-8";

/* ---- EVENT MISC ---- */

.event-create-link
{
	text-align: left;
	background-color: #0033FF;
	padding-top: 5px;
	padding-left: 20px
}

.event-create-link a
{
	color: #FFFFFF;
}

/* ---- EVENT TABLE ---- */

.event-list
{
}

.event-table
{
}

.event-table thead,
.event-table tfoot
{
}

.event-table tbody
{
}

.event-table tr
{
}

.event-table thead tr,
.event-table tfoot tr
{
}

.event-table tbody tr
{
}

.event-table td
{
}

.event-table th
{
}

.event-table .action-link-list
{
	text-align: center;
}

/* ---- EVENT FORM ---- */

.event-form
{
}

.event-form .form-input
{
}

.event-form .form-input div

.event-form .form-input div label
{
}

.event-form .form-input div label:after
{
}

.event-form .form-input div input,
.event-form .form-input div textarea
{
}

.event-form .form-end-button
{
}
